<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
  <bean id="applicationContextUtils" class="com.projects.wiki.bwiki.util.ApplicationContextUtils"></bean>
 
 	<bean id="bwikiCatalog" class="com.projects.wiki.bwiki.BWikiCatalog"/>
 	<bean id="searchAction" class="com.projects.wiki.bwiki.SitesAction"/>
 	<bean id="theatreActions" class="com.projects.wiki.bwiki.TheatreActions"/>
 	<bean id="beautyParlorActions" class="com.projects.wiki.bwiki.BeautyParlorActions"/>
 	<bean id="bowlingAlleyActions" class="com.projects.wiki.bwiki.BowlingAlleyActions"/>
 	<bean id="clubActions" class="com.projects.wiki.bwiki.ClubActions"/>
 	<bean id="coffeeBarActions" class="com.projects.wiki.bwiki.CoffeeBarActions"/>
 	<bean id="discosActions" class="com.projects.wiki.bwiki.DiscosActions"/>
 	<bean id="fastFoodActions" class="com.projects.wiki.bwiki.FastFoodActions"/>
 	<bean id="pizzaJointActions" class="com.projects.wiki.bwiki.PizzaJointActions"/>
 	<bean id="pubActions" class="com.projects.wiki.bwiki.PubActions"/>
 	<bean id="restaurentActions" class="com.projects.wiki.bwiki.RestaurentActions"/>
 	<bean id="poolParlorActions" class="com.projects.wiki.bwiki.PoolParlorActions"/>
</beans>